<<<<<<< HEAD
.body{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading1{
    font-size: 60px;
    color: darkblue;
    font-family: comic sans ms;
}
.heading4{
    font-style: italic;
    text-align: right;
}
.paragraf{
    text-align: justify;
=======
body{
    background-color: aqua;
    font-family: Georgia;
>>>>>>> 88edb82de88754f262f5fc4f716b68a6d3839781
}